/* src/ImcCalculator.css */
.imc-container {
    height: 100vh;
    /* background-image: url(../assets/images/runn.webp) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position:fixed; */
  }
  
  .imc-content {
    padding: 20px;
  }
  
  
@media only screen and (max-width: 768px) {
 .imc-container {
  height: auto;
 }

}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .imc-container {
    height: auto;
   }

}