.nosotros img {
  margin: 0;
  padding: 0;
  transition: transform 0.9s ease-in-out;
}

.nosotros img:hover {
  transform: scale(0.9);
}


.nosotros h2 {
  opacity: 0.6;
  font-family: 'FontFacon';
  position: relative;
  display: inline;
  padding-bottom: 8px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 80px;
  transition: opacity 0.3s ease;
}

.nosotros h2:hover {
  opacity: 1;
  display: inline;
}


.nosotros h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 12px;
  background-color: rgb(255, 0, 0);
  transition:  0.3s ease, left 0.3s ease;
}

.nosotros h2:hover::after {
  width: 100%;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .nosotros h2 {
    font-size: 3rem;
  }

}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .nosotros h2 {
    font-size: 3rem;
  }
}