.footer {
    overflow: hidden;
    color: #000;

}

.footer p {
    font-size: 16px;
    margin-bottom: 20px;
}

.footer a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.foot {
    height: 50px;
    background-color: #000;
}

.foot p {
    color: #fff;
    padding: 10px;
}

.fb:hover {
    color: #2f54a2;
    transition: 0.9s;
}

.ws:hover {
    color: #25D366;
    transition: 0.9s;

}

.ig:hover {
    color: #d6249f;
    transition: 0.9s;
}

.gm:hover {
    color: #c31c1c;
    transition: 0.9s;
}

.hov {
    transition: transform 0.2s ease;
}
.hov:hover {
    transform: translateY(-7px);
}

.social-icons {
    border-bottom: 5px solid #000;
    padding: 30px 0px;
    display: inline-block;
    overflow: auto;

}

#deiv  {
    height: 17px;
}

#deiv p {
    font-size: 13px;
    font-family: monospace;
    font-weight: 700;
    position: relative;
    bottom: 2px;
}

@media (max-width: 768px) {
    .footer {
        text-align: center;
    }
}